.select-button {
  border: none;
  width: 100%;
  margin: 0 12px;
  border-radius: 8px;
  padding: 6px 20px;
  background-image: linear-gradient(to bottom, rgba(174, 0, 255, 0.307),rgba(174, 0, 255, 0.068));
  cursor: pointer;
  font-weight: 300;
}


.select-button:hover{
  background-color: rgb(243, 2, 183);
  transition: background-color 1s ease;
}
